{% extends 'pages/home.html.twig' %}

{% block title %}Reklamacje{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}


{% block content %}
    <div id="complaints">
        Reklamacje
    </div>
{% endblock %}