{% extends 'pages/home.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div id="contact">
        <div class="contact_box">
            <h1>INFOLINIA</h1>
            <h3>Poniedziałek - Piątek 7:00-20:00</h3>
            <a href="callto:687045555"><i class="fa fa-phone" style="font-size:24px"></i>687 045 555</a><br><br>
            <a href="mailto:meble@wp.pl">meble@wp.pl</a>
        </div>
    </div>
{% endblock %}