{% extends 'pages/home.html.twig' %}

{% block title %}Galeria{% endblock %}



{% block content %}
    <div id="gallery" class="container my-24 mx-auto md:px-6">
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10010</h1></strong>
                <b>fronty akrylove.</b> antracyt metalik<br>
                <b>uchwyty.</b> folt / czarny <br>
                <b>blat.</b> marmur NERO <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px" class="mt-2">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10010" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10020</h1></strong>
                <b>fronty frezove.</b> modern biały / szałwia<br>
                <b>uchwyty.</b> modern / czarny <br>
                <b>blat.</b> marmur LUMI <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10020" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10030</h1></strong>
                <b>fronty laminove.</b> dąb ciemny<br>
                <b>uchwyty.</b> globo / czarny <br>
                <b>blat.</b> dąb ciemny <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10030" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10040</h1></strong>
                <b>fronty frezove.</b> retro biały<br>
                <b>uchwyty.</b> globo / czarny <br>
                <b>blat.</b> marmur LUMI <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10040" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10050</h1></strong>
                <b>fronty laminove.</b> dąb naturalny<br>
                <b>uchwyty.</b> slim / biały <br>
                <b>blat.</b> dąb naturalny <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10050" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10060</h1></strong>
                <b>fronty akrylove.</b> biały mat<br>
                <b>uchwyty.</b> paris / złoty <br>
                <b>blat.</b> dąb ciemny <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10060" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10070</h1></strong>
                <b>fronty laminove.</b> marmur NERO<br>
                <b>uchwyty.</b> modern / czarny <br>
                <b>blat.</b> marmur NERO <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10070" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10080</h1></strong>
                <b>fronty akrylove.</b> kubanik metalik mat<br>
                <b>uchwyty.</b> lux / złoty <br>
                <b>blat.</b> dąb ciemny <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10080" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10090</h1></strong>
                <b>fronty akrylove.</b> biały mat<br>
                <b>uchwyty.</b> slim / srebrny <br>
                <b>blat.</b> beton strukturalny <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10090" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}