{% extends 'pages/home.html.twig' %}

{% block title %}Galeria{% endblock %}



{% block content %}
    <div id="gallery" class="container my-24 mx-auto md:px-6">
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10010</h1></strong>
                <b>fronty akrylove.</b> antracyt metalik<br>
                <b>blat.</b> marmur NERO <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px" class="mt-2">Cena zawiera koszt: szafek, blatów oraz frontów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10010" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <a href="/upload/gallery/10010.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10010.jpg"/>
                </a>
                <a href="/upload/gallery/10010_1.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10010_1.jpg"/>
                </a>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10020</h1></strong>
                <b>fronty frezove.</b> modern biały / szałwia<br>
                <b>blat.</b> marmur LUMI <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów oraz frontów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10020" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <a href="/upload/gallery/10020.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10020.jpg"/>
                </a>
                <a href="/upload/gallery/10020_1.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10020_1.jpg"/>
                </a>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10030</h1></strong>
                <b>fronty laminove.</b> dąb ciemny<br>
                <b>blat.</b> dąb ciemny <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów oraz frontów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10030" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <a href="/upload/gallery/10030.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10030.jpg"/>
                </a>
                <a href="/upload/gallery/10030_1.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10030_1.jpg"/>
                </a>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10040</h1></strong>
                <b>fronty laminove.</b> biały<br>
                <b>blat.</b> dąb ciemny <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów oraz frontów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10040" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <a href="/upload/gallery/10040.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10040.jpg"/>
                </a>
                <a href="/upload/gallery/10040_1.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10040_1.jpg"/>
                </a>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10050</h1></strong>
                <b>fronty laminove.</b> dąb naturalny<br>
                <b>blat.</b> dąb naturalny <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów oraz frontów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10050" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <a href="/upload/gallery/10050.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10050.jpg"/>
                </a>
                <a href="/upload/gallery/10050_1.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10050_1.jpg"/>
                </a>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10060</h1></strong>
                <b>fronty akrylove.</b> biały<br>
                <b>blat.</b> dąb ciemny <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów oraz frontów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10060" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <a href="/upload/gallery/10060.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10060.jpg"/>
                </a>
                <a href="/upload/gallery/10060_1.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10060_1.jpg"/>
                </a>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10070</h1></strong>
                <b>fronty laminove.</b> białe<br>
                <b>blat.</b> dąb naturalny <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów oraz frontów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10070" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <a href="/upload/gallery/10070.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10070.jpg"/>
                </a>
                <a href="/upload/gallery/10070_1.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10070_1.jpg"/>
                </a>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10080</h1></strong>
                <b>fronty akrylove.</b> białe<br>
                <b>blat.</b> dąb naturalny <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów oraz frontów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10080" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <a href="/upload/gallery/10080.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10080.jpg"/>
                </a>
                <a href="/upload/gallery/10080_1.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10080_1.jpg"/>
                </a>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>Kuchnia: 10090</h1></strong>
                <b>fronty laminove.</b> czarne<br>
                <b>blat.</b> dąb naturalny <br>
                <b style="font-size: 12px" class="font-bold">Jeśli jesteś zainteresowany/a podobną kuchnią, <br> zamów wizytę specjalisty celem wykonania dokładnych pomiarów</b>
                <br>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów oraz frontów, nie zawiera montażu.</b><br>
                <div class="flex mr-3">
                    <a href="/order-specialist?productId=10090" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                        rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Zamów wizytę specjalisty
                    </a>
                </div>
            </div>
            <div class="kitchen_images">
                <a href="/upload/gallery/10090.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10090.jpg"/>
                </a>
                <a href="/upload/gallery/10090_1.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-96 w-full rounded-lg object-cover object-center"
                            src="/upload/gallery/10090_1.jpg"/>
                </a>
            </div>
        </div>
    </div>
{% endblock %}