{% extends 'base.html.twig' %}

{% block title %}Strona główna{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
<div class="navigation">
    {% block sidebar %}
        <div class="logo">
            <div class="napis">
                <a href="/">KUCHNIE</a>
            </div>
        </div>
        <nav id="items" class="flex justify-center">
            <a href="/">Strona główna</a>
            <a href="/gallery">Galeria</a>
            <a href="/offer">Oferty</a>
{#            <a href="/orders_page">Zamówienia</a>#}
{#            <a href="/pricing_page">Wycena</a>#}
{#            <a href="/complaints_page">Reklamacje</a>#}
            <a href="/contact">Kontakt</a>
            <a href="/login">Logowanie</a>
        </nav>
    {% endblock %}
</div>
    <div class="content">
        {% block content %}


        {% endblock %}
    </div>
{% endblock %}
{% block footer %}
    <div class="footer">
        <p> Wszelkie prawa zastrzeżone &#x000A9; 2024 Mateusz Mroczkowski</p>
    </div>
{% endblock %}