{% extends 'pages/home.html.twig' %}

{% block title %}Oferty{% endblock %}




{% block content %}
    <div id="offer" class="container my-24 mx-auto md:px-6">
        <div class="offer_1">
            <div class="offer_content">
                <h1>fronty / blaty / <b>laminove.</b></h1>
                <p>Fronty laminowanie stanowią świetną alternatywę dla materiałów takich jak drewno, kamień
                    czy metal. Są łatwe w pielęgnacji i naturalne w swoim wyglądzie. Ich powierzchnia pokryta jest
                    dekorem zaimpregnowanym żywicą melaminową dzięki czemu fronty laminove są trwałe i odporne
                    na zabrudzenia.</p>
                <h1 class="font-bold mb-2">Numer produktu: 11000</h1>
                <a href="/order?productId=11000" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                    rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Złóż zamówienie
                </a>
            </div>
            <br>
            <div class="flex justify-center gap-5">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <br><br>
        <div class="offer_1">
            <div class="offer_content">
                <h1>fronty <b>akrylove</b></h1>
                <p>Gładkie, przyjemne w dotyku fronty pokryte warstwą akrylu.
                    Charakteryzują się wysoką odpornością na zarysowania i uszkodzenia
                    mechaniczne. Łatwe do utrzymania w czystości i odporne na promienie UV.</p>
                <h1 class="font-bold mb-2">Numer produktu: 11010</h1>
                <a href="/order?productId=11010" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                    rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Złóż zamówienie
                </a>
            </div>
            <br>
            <div class="flex justify-center gap-5">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <br><br>
        <div class="offer_1">
            <div class="offer_content">
                <h1>fronty <b>frezove</b></h1>
                <p>Fronty frezowane to klasyka w nowym wydaniu. Matowe wykończenie oraz
                oryginalny wygląd dodadzą wnętrzu charakteru. Charakteryzują się wysoką na uszkodzenia i plamy.</p>
                <h1 class="font-bold mb-2">Numer produktu: 11020</h1>
                <a href="/order?productId=11020" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                    rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Złóż zamówienie
                </a>
            </div>
            <br>
            <div class="flex justify-center gap-5">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <br><br>
        <div class="offer_1">
            <div class="offer_content">
                <h1><b>korpusy.</b></h1>
                <p>Korpusy to podstawa i szkielet każdej kuchni - nie są widoczne na pierwszy rzut oka, ale na
                drugi już tak, dlatego oferujemy dwa kolory płyt korpusowych, które skomponują się
                dobrze zarówno z kuchniami w jasnych jak i ciemnych odcieniach.</p>
                <h1 class="font-bold mb-2">Numer produktu: 11030</h1>
                <a href="/order?productId=11030" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                    rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Złóż zamówienie
                </a>
            </div>
            <br>
            <div class="flex justify-center gap-5">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}