{% extends 'pages/home.html.twig' %}

{% block title %}Oferty{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}


{% block content %}
    <div id="offer">
        <div class="offer_1">
            <div class="offer_content">
                <h1>fronty / blaty / <b>laminove.</b></h1>
                <p>Fronty laminowanie stanowią świetną alternatywę dla materiałów takich jak drewno, kamień
                    czy metal. Są łatwe w pielęgnacji i naturalne w swoim wyglądzie. Ich powierzchnia pokryta jest
                    dekorem zaimpregnowanym żywicą melaminową dzięki czemu fronty laminove są trwałe i odporne
                    na zabrudzenia.</p>
            </div>
            <div class="offer_images">
                <img src="../../public/icons/kuchnia_201/kuchnia_201.jpg">
            </div>
        </div>
        <div class="offer_1">
            <div class="offer_content">
                <h1>fronty akrylove</h1>
                <p>Gładkie, przyjemne w dotyku fronty pokryte warstwą akrylu.
                    Charakteryzują się wysoką odpornością na zarysowania i uszkodzenia
                    mechaniczne. Łatwe do utrzymania w czystości i odporne na promienie UV.</p>
            </div>
            <div class="offer_images">
                <img src="../../public/icons/kuchnia_201/kuchnia_201.jpg">
            </div>
        </div>
        <div class="offer_1">
            <div class="offer_content">
                <h1>fronty frezove</h1>
                <p>Fronty frezowane to klasyka w nowym wydaniu. Matowe wykończenie oraz
                oryginalny wygląd dodadzą wnętrzu charakteru. Charakteryzują się wysoką na uszkodzenia i plamy.</p>
            </div>
            <div class="offer_images">
                <img src="../../public/icons/kuchnia_201/kuchnia_201.jpg">
            </div>
        </div>
        <div class="offer_1">
            <div class="offer_content">
                <h1>korpusy.</h1>
                <p>Korpusy to podstawa i szkielet każdej kuchni - nie są widoczne na pierwszy rzut oka, ale na
                drugi już tak, dlatego oferujemy dwa kolory płyt korpusowych, które skomponują się
                dobrze zarówno z kuchniami w jasnych jak i ciemnych odcieniach.</p>
            </div>
            <div class="offer_images">
                <img src="../../public/icons/kuchnia_201/kuchnia_201.jpg">
            </div>
        </div>
        <div class="offer_1">
            <div class="offer_content">
                <h1>uchwyty.</h1>
                <p>Piękno w każdym calu - odkryj naszą kolekcję uchwytów. To idealne połączenie wygody i dobrego
                designu.</p>
            </div>
            <div class="offer_images">
                <img src="../../public/icons/kuchnia_201/kuchnia_201.jpg">
                <img src="../../public/icons/kuchnia_201/kuchnia_201.jpg">
                <img src="../../public/icons/kuchnia_201/kuchnia_201.jpg">
            </div>
        </div>


    </div>
{% endblock %}