{% extends 'pages/home.html.twig' %}

{% block title %}Oferty{% endblock %}




{% block content %}
    <div id="offer" class="container my-24 mx-auto md:px-6">
        <div class="offer_1">
            <div class="offer_content">
                <h1>fronty  <b>laminove.</b></h1>
                <p>Fronty laminowanie stanowią świetną alternatywę dla materiałów takich jak drewno, kamień
                    czy metal. Są łatwe w pielęgnacji i naturalne w swoim wyglądzie. Ich powierzchnia pokryta jest
                    dekorem zaimpregnowanym żywicą melaminową dzięki czemu fronty laminove są trwałe i odporne
                    na zabrudzenia.</p>
                <h1 class="font-bold mb-2">Numer produktu: 11000</h1>
                <a href="/order?productId=11000" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                    rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Złóż zamówienie
                </a>
            </div>
            <br>
            <div class="flex justify-center gap-5">
                <a href="/upload/offer/11000.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-[500px] w-full rounded-lg object-cover object-center"
                            src="/upload/offer/11000.jpg"/>
                </a>
                <a href="/upload/offer/11000_1.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-[500px] w-full rounded-lg object-cover object-center"
                            src="/upload/offer/11000_1.jpg"/>
                </a>
            </div>
        </div>
        <br><br>
        <div class="offer_1">
            <div class="offer_content">
                <h1>blat <b>dąb naturalny</b></h1>
                <p>Drewno dębowe jest jednym z najtwardszych i najbardziej odpornych na uszkodzenia mechaniczne gatunków drewna.
                    Blat z dębu naturalnego jest odporny na zarysowania, uderzenia i codzienne użytkowanie.</p>
                <h1 class="font-bold mb-2">Numer produktu: 11010</h1>
                <a href="/order?productId=11010" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                    rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Złóż zamówienie
                </a>
            </div>
            <br>
            <div class="flex justify-center gap-5">
                <a href="/upload/offer/11010.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-[500px] w-full rounded-lg object-cover object-center"
                            src="/upload/offer/11010.jpg"/>
                </a>
                <a href="/upload/offer/11010_1.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-[500px] w-full rounded-lg object-cover object-center"
                            src="/upload/offer/11010_1.jpg"/>
                </a>
            </div>
        </div>
        <br><br>
        <div class="offer_1">
            <div class="offer_content">
                <h1>blat <b>dąb ciemny</b></h1>
                <p>Blat z dębu ciemnego charakteryzuje się podobnymi właściwościami do blatu z dębu naturalnego, ale różni się od niego głównie kolorem i odcieniem.
                    Ciemny dąb jest idealnym wyborem dla osób, które szukają eleganckiego, nowoczesnego wykończenia, które doda wnętrzom głębi i klasy.</p>
                <h1 class="font-bold mb-2">Numer produktu: 11020</h1>
                <a href="/order?productId=11020" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                    rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Złóż zamówienie
                </a>
            </div>
            <br>
            <div class="flex justify-center gap-5">
                <a href="/upload/offer/11020.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-[500px] w-full rounded-lg object-cover object-center"
                            src="/upload/offer/11020.jpg"/>
                </a>
                <a href="/upload/offer/11020_1.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-[500px] w-full rounded-lg object-cover object-center"
                            src="/upload/offer/11020_1.jpg"/>
                </a>
            </div>
        </div>
        <br><br>
        <div class="offer_1">
            <div class="offer_content">
                <h1>fronty <b>frezove</b></h1>
                <p>Fronty frezowane to popularne rozwiązanie w projektowaniu mebli, szczególnie w kuchniach, które charakteryzują się precyzyjnie wyciętymi wzorami lub kształtami na powierzchni frontu.
                    Frezy na powierzchni materiału nadają meblom elegancki i unikalny wygląd.</p>
                <h1 class="font-bold mb-2">Numer produktu: 11030</h1>
                <a href="/order?productId=11030" class="mt-2 mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                    rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Złóż zamówienie
                </a>
            </div>
            <br>
            <div class="flex justify-center gap-5">
                <a href="/upload/offer/11030.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-[500px] w-full rounded-lg object-cover object-center"
                            src="/upload/offer/11030.jpg"/>
                </a>
                <a href="/upload/offer/11030_1.jpg">
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-[500px] w-full rounded-lg object-cover object-center"
                            src="/upload/offer/11030_1.jpg"/>
                </a>
            </div>
        </div>
    </div>
{% endblock %}