{% extends 'pages/home.html.twig' %}

{% block title %}Oferty{% endblock %}




{% block content %}
    <div id="offer">
        <div class="offer_1">
            <div class="offer_content">
                <h1>fronty / blaty / <b>laminove.</b></h1>
                <p>Fronty laminowanie stanowią świetną alternatywę dla materiałów takich jak drewno, kamień
                    czy metal. Są łatwe w pielęgnacji i naturalne w swoim wyglądzie. Ich powierzchnia pokryta jest
                    dekorem zaimpregnowanym żywicą melaminową dzięki czemu fronty laminove są trwałe i odporne
                    na zabrudzenia.</p>
            </div>
            <br>
            <div class="flex justify-center gap-5">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <br><br>
        <div class="offer_1">
            <div class="offer_content">
                <h1>fronty <b>akrylove</b></h1>
                <p>Gładkie, przyjemne w dotyku fronty pokryte warstwą akrylu.
                    Charakteryzują się wysoką odpornością na zarysowania i uszkodzenia
                    mechaniczne. Łatwe do utrzymania w czystości i odporne na promienie UV.</p>
            </div>
            <br>
            <div class="flex justify-center gap-5">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <br><br>
        <div class="offer_1">
            <div class="offer_content">
                <h1>fronty <b>frezove</b></h1>
                <p>Fronty frezowane to klasyka w nowym wydaniu. Matowe wykończenie oraz
                oryginalny wygląd dodadzą wnętrzu charakteru. Charakteryzują się wysoką na uszkodzenia i plamy.</p>
            </div>
            <br>
            <div class="flex justify-center gap-5">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <br><br>
        <div class="offer_1">
            <div class="offer_content">
                <h1><b>korpusy.</b></h1>
                <p>Korpusy to podstawa i szkielet każdej kuchni - nie są widoczne na pierwszy rzut oka, ale na
                drugi już tak, dlatego oferujemy dwa kolory płyt korpusowych, które skomponują się
                dobrze zarówno z kuchniami w jasnych jak i ciemnych odcieniach.</p>
            </div>
            <br>
            <div class="flex justify-center gap-5">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <br><br>
        <div class="offer_1">
            <div class="offer_content">
                <h1><b>uchwyty.</b></h1>
                <p>Piękno w każdym calu - odkryj naszą kolekcję uchwytów. To idealne połączenie wygody i dobrego
                designu.</p>
            </div>
            <br>
            <div class="flex justify-center gap-5">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>


    </div>
{% endblock %}