{% extends 'pages/home.html.twig' %}

{% block title %}Oferty{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}


{% block content %}
    <div id="offer">
        Oferty
    </div>
{% endblock %}