{% extends 'pages/home.html.twig' %}

{% block title %}Zamówienia{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}


{% block content %}
    <div id="orders">
        Zamówienia
    </div>
{% endblock %}