{% extends 'pages/home.html.twig' %}

{% block title %}Wycena{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}


{% block content %}
    <div id="pricing">
        Wycena
    </div>
{% endblock %}