{% extends 'pages/home.html.twig' %}

{% block title %}Rejestracja{% endblock %}



{% block content %}
    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="bg-green-100 rounded-md p-7 flex border-l-4 border-green-500">
                <svg
                        class="stroke-2 stroke-current text-green-600 h-8 w-8 mr-2 flex-shrink-0"
                        viewBox="0 0 24 24"
                        fill="none"
                        strokeLinecap="round"
                        strokeLinejoin="round"
                >
                    <path d="M0 0h24v24H0z" stroke="none" />
                    <circle cx="12" cy="12" r="9" />
                    <path d="M9 12l2 2 4-4" />
                </svg>

                <div class="text-green-700">
                    <div class="font-bold text-xl">Konto zostało aktywowane!</div>
                    <div>Twoje konto zostało pomyślnie aktywowane. Możesz przejść do logowania.</div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}