{% extends 'user_pages/user_home.html.twig' %}

{% block title %}Galeria{% endblock %}



{% block content %}
    <div id="gallery">
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>201.</h1></strong>
                <b>fronty akrylove.</b> antracyt metalik<br>
                <b>uchwyty.</b> folt / czarny <br>
                <b>blat.</b> marmur NERO <br>
                <p>9500 zł</p>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów</b><br>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>202.</h1></strong>
                <b>fronty frezove.</b> modern biały / szałwia<br>
                <b>uchwyty.</b> modern / czarny <br>
                <b>blat.</b> marmur LUMI <br>
                <p class="mr-1">11550 zł</p>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów</b><br>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>203.</h1></strong>
                <b>fronty laminove.</b> dąb ciemny<br>
                <b>uchwyty.</b> globo / czarny <br>
                <b>blat.</b> dąb ciemny <br>
                <p>10050 zł</p>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów</b><br>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>204.</h1></strong>
                <b>fronty frezove.</b> retro biały<br>
                <b>uchwyty.</b> globo / czarny <br>
                <b>blat.</b> marmur LUMI <br>
                <p>9550 zł</p>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów</b><br>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>205.</h1></strong>
                <b>fronty laminove.</b> dąb naturalny<br>
                <b>uchwyty.</b> slim / biały <br>
                <b>blat.</b> dąb naturalny <br>
                <p>7550 zł</p>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów</b><br>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>206.</h1></strong>
                <b>fronty akrylove.</b> biały mat<br>
                <b>uchwyty.</b> paris / złoty <br>
                <b>blat.</b> dąb ciemny <br>
                <p>12800 zł</p>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów</b><br>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>207.</h1></strong>
                <b>fronty laminove.</b> marmur NERO<br>
                <b>uchwyty.</b> modern / czarny <br>
                <b>blat.</b> marmur NERO <br>
                <p>9550 zł</p>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów</b><br>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>208.</h1></strong>
                <b>fronty akrylove.</b> kubanik metalik mat<br>
                <b>uchwyty.</b> lux / złoty <br>
                <b>blat.</b> dąb ciemny <br>
                <p>10200 zł</p>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów</b><br>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
        <div class="kitchen_1">
            <div class="number_kitchen">
                <strong><h1>209.</h1></strong>
                <b>fronty akrylove.</b> biały mat<br>
                <b>uchwyty.</b> slim / srebrny <br>
                <b>blat.</b> beton strukturalny <br>
                <p>6820 zł</p>
                <b style="font-size: 10px">Cena zawiera koszt: szafek, blatów, frontów oraz uchwytów</b><br>
            </div>
            <div class="kitchen_images">
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
                <div>
                    <img
                            width="50px"
                            height="50px"
                            alt="gallery"
                            class="block h-full w-full rounded-lg object-cover object-center"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}