@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

#navbar{
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
}





html, body{
    height: 100%;
}

#gallery p{
    font-family: Oswald, sans-serif;
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    border: 3px solid black;
    border-radius: .2em;
    text-align: center;
    margin-top: 10px;
    display: block;
    margin-right: 55%;
}

.kitchen_1{
    display: flex;
    justify-content: start;
    margin-bottom: 40px;
}

.offer_content p{
    display: flex;
    justify-content: start;
    margin-right: 50%;
}



.kitchen_images{
    display: flex;
    justify-content: center;
    gap: 5px;
}



.footer p{
    display: flex;
    justify-content: start;
    align-items: end;
}