@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

/* Show the dropdown menu on hover */
#dropdown:hover #dropdown-content {display: block;}



.navigation {
    margin-top: 20px;
    padding-bottom: 10px;

}
.napis a{
    font-family: Oswald, sans-serif;
    font-size: 70px;
    color: black;
    text-transform: uppercase;
    border: 14px solid #fff;
    border-radius: .2em;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    margin-left: 40px;
}
.logo{
    padding-right: 75%;
}

.content{
    margin-top: 5rem;
    margin-left: 11rem;
    margin-right: 11rem;

}

#gallery p{
    font-family: Oswald, sans-serif;
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    border: 3px solid black;
    border-radius: .2em;
    text-align: center;
    margin-top: 10px;
    display: block;
    margin-right: 55%;
}
.kitchen_1{
    display: flex;
    justify-content: start;
    margin-bottom: 40px;
}

.offer_content p{
    display: flex;
    justify-content: start;
    margin-right: 50%;
}

.footer{
    background: bisque;
    font-size: 13px;
    padding: 100px 50px 100px 70px;
}

.kitchen_images{
    display: flex;
    justify-content: center;
    gap: 5px;
}



.footer p{
    display: flex;
    justify-content: start;
    align-items: end;
}