<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Application{% endblock %}</title>
    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block basejs %}
            <script type="module" src={{ asset('js/base.js') }}></script>
    {% endblock %}

    {% block javascript %}
    {% endblock %}
</head>

<body>
{% block body %}
    <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
</body>

<footer>
    {% block footer %}
    {% endblock %}
</footer>
</html>